$o-header-is-silent: false;


@import "o-header/main";
@import "src/scss/_variables";

@if ($o-header--theme-ic-is-silent == false) {
	 .o-component-boilerplate {
		display: block;
	}

	// Set to silent again to avoid being output twice
	$o-header--theme-ic-is-silent: true !global;
}
