$o-header--theme-ic-is-silent: true !default;


/* Fonts */
$font-header: 'MetaSerifOT-Bold';
$font-list-header: 'MetaSerifOT-Book';
$font-serif: Georgia, Times, Times New Roman, serif;
$font-sans-serif: Arial, Helvetica Neue, Helvetica, sans-serif;

/* Colours */
$white: #ffffff;
$black: #000000;
$white-faded: #efb3b4;
$brand-primary: #cc0000;
$dark-grey: #333333;

/** header **/
$c-header-background: $brand-primary;
$c-header-text: $white;
$c-header-toggle: $brand-primary;
$c-header-menu-background: $brand-primary;
$c-header-menu-link: $white;
$c-header-menu-link-hover: $black;
$c-header-subnav-background: $brand-primary;
$c-header-subnav-link: $white;
$c-subnav-button: $dark-grey;
$c-header-drawer-background: $brand-primary;
$c-header-link-hover: $white;
$c-header-border: $white-faded;
$c-header-close-hover: $black;
$c-header-search-button-background: $black;
$c-header-search-button-border: $black;
$c-header-search-button-background-hover: $brand-primary;
$c-header-promo-link-background-hover: $black;
$c-header-promo-link-text-hover: $white;
