$o-header--theme-ic-is-silent: true !default;


/* set px to rem ratio of 10:1 (1.4rem = 14px)  */
$rem-percent: 62.5%;
$rem-ratio: 10;

/* font sizes */
$font-height-default: (26/18);

$font-header: 'MetaSerifOT-Bold';
$font-list-header: 'MetaSerifOT-Book';
$font-serif: Georgia, Times, Times New Roman, serif;
$font-sans-serif: Arial, Helvetica Neue, Helvetica, sans-serif;



$white: #ffffff;
$black: #000000;
$white-faded: #efb3b4;
$brand-primary: #cc0000;
$brand-primary-faded: #f5c4b6;
$brand-primary-opacity: rgba(255, 87, 39, 0.7);
$blue: #45545e;
$light-grey: #f5f5f5;
$grey: #cccccc;
$dark-grey: #333333;
$red: #cc0000;
$green: #458B00;
$twitter-blue: #10aaf2;
$facebook-blue: #4766af;
$linkedin-blue: #0476ba;
$beige: #EEEEDD;
$gold: #EEDD00;
$c-image-overlay: rgba(0, 0, 0, 0.6);
$c-image-overlay-hover: rgba(0, 0, 0, 0.8);

/* tip badges */
$c-badge-buy: $gold;
$c-badge-sell: $black;
$c-badge-hold: #0088BB;
$c-badge-accept: #660066;
$c-badge-await: $brand-primary;
$c-badge-text: $white;
$c-badge-text-alt: $black;

/** Colour variables: define using colour names **/
$c-title-default: $black;
$c-text-default: $dark-grey;
$c-highlight: $brand-primary;
$c-visited-link: $grey;

/** icons **/
$colour-icon-calendar-fill: $brand-primary;
$colour-icon-calendar-fill-alt: $white;
$colour-triangle: $white;
$colour-on-air-logo: $white;
$colour-icon-tick: $brand-primary;
$colour-icon-chart: $brand-primary;
$colour-icon-pdf: $brand-primary;
$c-icon-speech-bubble: $brand-primary;
$c-icon-speech-bubble--hover: $blue;
$c-icon-close: $white;
$c-icon-search: $white;
$c-icon-menu: $white;

/** title **/
$c-title-highlighted: $brand-primary;
$c-title-link: $brand-primary;
$c-title-link-hover: $blue;
$c-title-reverse: $white;
$c-title-container-underline: $dark-grey;

/** header **/
$c-header-background: $brand-primary;
$c-header-text: $white;
$c-header-toggle: $brand-primary;
$c-header-menu-background: $brand-primary;
$c-header-menu-link: $white;
$c-header-menu-link-hover: $black;
$c-header-subnav-background: $brand-primary;
$c-header-subnav-link: $white;
$c-subnav-button: $dark-grey;
$c-header-drawer-background: $brand-primary;
$c-header-link-hover: $white;
$c-header-border: $white-faded;
$c-header-close-hover: $black;
$c-header-search-button-background: $black;
$c-header-search-button-border: $black;
$c-header-search-button-background-hover: $brand-primary;
$c-header-promo-link-background-hover: $black;
$c-header-promo-link-text-hover: $white;

/** footer **/
$colour-footer-border-top: $brand-primary;
$colour-footer-background: $light-grey;
$colour-footer-small-title: $brand-primary;
$colour-footer-small-title-hover: $blue;

/** authentication pages **/
$c-authentication-bg: $light-grey;

/** section **/
$c-section-bg-from: $brand-primary;
$c-section-bg-to: $white;

/** share tips and updates section **/
$c-section-bg-share-tip-from: $light-grey;
$c-section-bg-share-tip-to: $white;

/** article **/
$c-article-bg-gradient-from: $light-grey;
$c-article-bg-gradient-to: $white;
$c-article-headline-text: $c-title-default;
$c-article-header-text-light: $white;
$c-article-section-link: $brand-primary;
$c-article-byline-link: $brand-primary;
$c-article-byline-link-hover: $blue;
$c-article-iframe-border: $grey;

/** article reader portfolio **/
$c-article-portfolio-header-gradient-from: $beige;
$c-article-portfolio-header-gradient-to: $white;

/** social **/
$c-social-comments-link: $brand-primary;
$c-social-comments-link--hover: $blue;
$c-social-icon-fill-light: $white;

/** sponsor **/
$colour-sponsor-text: $dark-grey;

/** links **/
$c-link-default: $blue;
$c-link-default--hover: $brand-primary;
$c-link-primary: $brand-primary;
$c-link-primary--hover: $blue;

/** lists **/
$c-default-border: $grey;
$c-list-number: $brand-primary;
$c-bullet-point-background: $grey;

/* most read */
$c-list-numbered-border: $brand-primary;

/** buttons **/
$colour-button-default: $dark-grey;
$colour-button-default--hover: $brand-primary;
$colour-button-primary: $brand-primary;
$colour-button-primary--hover: $dark-grey;
$colour-button-text: $white;
$colour-button-reversed-background: $white;
$colour-button-reversed-border: $brand-primary;
$colour-button-reversed-text: $brand-primary;
$colour-button-reversed-hover: $brand-primary;
$colour-button-reversed-svg: $brand-primary;
$colour-button-reversed-svg-hover: $white;
$colour-button-text-no-bg: $brand-primary;

/** pull quote **/
$colour-pull-quote-text: $brand-primary;
$colour-pull-quote-icon: $brand-primary;
$colour-pull-quote-border: $brand-primary;

/** info box **/
$colour-info-box-border: $brand-primary;

/** card **/
$c-card-default-border: $grey;
$c-card-topic: $brand-primary;
$c-card-topic-hover: $blue;
$c-card-default-text: $c-text-default;
$c-card-title-hover: $brand-primary;
$c-card-default-background: $white;
$c-card-default-background-hover: $light-grey;
$c-card-opinion-icon: $brand-primary;
$c-card-tip-title: $white;
$c-card-additional: $white;

/** forms **/
$c-form-input-background: $white;
$c-form-input-checked-background: $dark-grey;
$c-form-input-border: $grey;
$c-form-input-checked-border: $dark-grey;
$c-form-input-radio-border: $dark-grey;
$c-form-input-radio-background: $white;
$c-form-input-text: $c-text-default;
$c-form-input-highlighted-border: $brand-primary;
$c-form-input-highlighted-placeholder: $brand-primary;
$c-form-select-arrow: $dark-grey;
$c-form-select-arrow-highlighted: $brand-primary;
$c-form-field-column-border: $grey;
$c-form-link: $brand-primary;
$c-form-link-hover: $c-text-default;
$c-form-border-bottom: $dark-grey;

/** form validation **/
$c-error: $red;

/** related topics **/
$colour-topic-link: $brand-primary;
$colour-topic-border: $grey;
$colour-topic-background: $white;
$colour-topic-link-hover: $black;
$colour-topic-link-hover-alt: $white;
$colour-topic-border-hover: $brand-primary;
$colour-topic-background-hover: $brand-primary;

/** tables **/
$colour-table-cell-border: $light-grey;
$colour-table-cell-background: $light-grey;

/** company widget **/
$c-company-widget-border: $grey;
$c-company-widget-sector: $brand-primary;
$c-company-widget-ticker: $black;
$c-company-widget-stat-negative: $red;
$c-company-widget-stat-positive: $green;

/** block **/
$c-block-border: $grey;
$c-block-background: $white;
$c-block-title: $black;

/** text highlighted **/
$c-text-highlighted: $black;
$c-text-highlighted-background: $gold;

/** strapline **/
$c-strapline-background: $black;
$c-strapline-text: $white;

/** footer **/
$c-footer-background: $dark-grey;
$c-footer-title: $white;
$c-footer-text: $grey;
$c-footer-strap-background: $black;
$c-footer-strap-text: $grey;
$c-footer-icon-fill: $grey;

/** content barrier **/
$c-content-barrier-background: $light-grey;

/** overlay **/
$c-overlay-background: $light-grey;
$c-overlay-border: $grey;
